body {
    background-image: url(../img/stand-publicidad-productos-cosmeticos-exposicion-podio-madera-sobre-fondo-verde-hojas-sha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

#container {
    width: 45em;
    height: 30em;


    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    color: white;
    text-align: center;



}

.master-mind-box {
    width: 60em;
    height: 20em;


}

#title-index {
    font-size: 7em;
    font-family: 'Monoton', cursive;
    margin-bottom: 0;
    padding-bottom: 5px;
}

#title-index:hover {

    text-shadow: #FC0 1px 0 10px;
}

#made-for {
    font-size: 1em;
    font-family: 'Monoton', cursive;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    letter-spacing: 5px;

    margin-top: 0;
}

.index-buttoms {
    width: 45em;
    height: 10em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

}

#play {
    height: 1.5em;
    width: 5em;
    border: 0.2em double white;
    color: white;
    font-size: 4em;
    font-family: 'Monoton', cursive;
    background-image: url(../img/Wood-Texture.jpg);
    box-shadow: 5px 5px 41px 0px rgba(255, 255, 255, 0.64)
}

#play:hover {
    text-shadow: #FC0 1px 0 10px;
    box-shadow: #FC0 1px 0 10px;
    border: 0.2em double #FC0;
    cursor: pointer;
}

#play:active {
    transform: translate(4px, 4px);
    box-shadow: none;
}

#rules {
    height: 1.5em;
    width: 5em;
    border: 0.2em double white;
    color: white;
    font-size: 4em;
    font-family: 'Monoton', cursive;
    background-image: url(../img/Wood-Texture.jpg);
    box-shadow: 5px 5px 41px 0px rgba(255, 255, 255, 0.64);
}

a {
    text-decoration: none;

}

#rules:hover {
    text-shadow: #FC0 1px 0 10px;
    box-shadow: #FC0 1px 0 10px;
    border: 0.2em double #FC0;
    cursor: pointer;
}

#rules:active {

    transform: translate(4px, 4px);
    box-shadow: none;
}

/* level board */

#containLevelBody {
    border: 0.2em solid red;
    overflow: hidden;
    height: 40em;
    width: 40em;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin: 0;
    padding: 0;
}

.level-board {
    height: 35em;
    width: 40em;

    background-image: url(../img/wood-board.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;

    flex-direction: column;
    gap: 3.5em;

    position: relative;


}


.levels {
    width: 5em;
    height: 1em;
    position: relative;
    top: -10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Monoton', cursive;
    font-size: 5em;
    color: black;
}

/* poner los @media */

.levels:hover {
    text-shadow: #FC0 1px 0 10px;
    cursor: pointer;
    transform: translate(4px, 4px);
}

.levels:active {
    transform: translate(8px, 8px);
}

.buttom-back-home {
    height: 2em;
    width: 4em;
    border: 0.1em double rgb(255, 245, 245);
    position: absolute;
    top: 550px;
    background-color: rgb(165, 98, 55);

    font-family: 'Monoton', cursive;
    font-size: 2.5em;
    border-radius: 30%;

    /* padding: 20px; */
    padding-left: 20px;
    padding-right: 20px;


    display: flex;
    justify-content: center;
    align-items: center;

}

.buttom-back-home:hover {
    text-shadow: #FC0 1px 0 10px;
    box-shadow: #FC0 1px 0 10px;
    border: 0.2em double #FC0;
    cursor: pointer;
}

.buttom-back-home:active {

    transform: translate(4px, 4px);
    box-shadow: none;

}

/* Rules  */

.title-rules {
    font-size: 4em;
    font-family: 'Monoton', cursive;
    margin-bottom: 0;
    padding-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.title-by {
    font-size: 1em;
    font-family: 'Monoton', cursive;
    margin-bottom: 0;
    padding-bottom: 5px;
    text-align: end;

}



#rulesContainer {

    height: 15em;
    width: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.master-mind-rules-box {
    width: 30em;
    color: white;
}

.rules-box {
    border: 0.1;
    height: 29em;
    width: 38em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.rules-board {
    width: 37em;
    height: 37em;

    background-image: url(../img/rules-wood-board.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-text {
    margin-left: 10px;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    width: 32em;
    height: 22em;
    font-size: 13px;
    font-family: 'Martian Mono', monospace;
    position: absolute;
    top: 15em;
}

.game-rules {
    display: flex;
    justify-content: center;
}

/* buttom rules */

.rules-buttoms {
    width: 100vw;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10em;
    text-align: center;
}

.play-rules {
    height: 1.5em;
    width: 4em;

    border: 0.2em double white;
    color: white;
    font-size: 2em;
    font-family: 'Monoton', cursive;
    background-image: url(../img/Wood-Texture.jpg);
    box-shadow: 5px 5px 41px 0px rgba(255, 255, 255, 0.64)
}

.home-rules {
    height: 1.5em;
    width: 4em;

    border: 0.2em double white;
    color: white;
    font-size: 2em;
    font-family: 'Monoton', cursive;
    background-image: url(../img/Wood-Texture.jpg);
    box-shadow: 5px 5px 41px 0px rgba(255, 255, 255, 0.64)
}

.play-rules:hover {
    text-shadow: #FC0 1px 0 10px;
    box-shadow: #FC0 1px 0 10px;
    border: 0.2em double #FC0;
    cursor: pointer;
}

.home-rules:hover {
    text-shadow: #FC0 1px 0 10px;
    box-shadow: #FC0 1px 0 10px;
    border: 0.2em double #FC0;
    cursor: pointer;
}

.play-rules:active{
    transform: translate(4px, 4px);
    box-shadow: none;
}

.home-rules:active{
    transform: translate(4px, 4px);
    box-shadow: none;
}

/* User Name input */

.contain-user-input {
    width: 100vw;
    height: 25em;

    display: flex;
    justify-content: center;
    align-self: center;

    position: relative;
}

.input-box {
    height: 18em;
    width: 35em;
    border: 0.6em solid rgb(156, 127, 80);
    background-image: url(../img/wood-texture-2.avif);
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.input-box-text {

    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-username {
    font-size: 4em;
    font-family: 'Monoton', cursive;
    margin-bottom: 0;
    padding-bottom: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nickname {
    color: white;
    text-align: center;
    height: 1.5em;
    font-size: 3em;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'Monoton', cursive;
}

.input {
    margin-top: 0;
    padding-top: 0;
    background-color: rgb(156, 127, 80);
    width: 6em;
    font-size: 4em;
    border-radius: 56px 56px 56px 56px;
    padding-left: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}



.buttom-back-home-username {
    height: 2em;
    width: 3em;
    border: 0.2em solid rgb(156, 127, 80);
    position: absolute;
    top: 270px;
    background-image: url(../img/Wood-Texture.jpg);
    font-family: 'Monoton', cursive;
    font-size: 2.1em;
    border-radius: 30%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttom-back-home-username:hover {
    text-shadow: #FC0 1px 0 10px;
    box-shadow: #FC0 1px 0 10px;
    border: 0.2em double #FC0;
    cursor: pointer;
}

.buttom-back-home-username:active {
    transform: translate(4px, 4px);
    box-shadow: none;
}

/* Esto es el tablero */

#containboardBody {
    border: 0.2em solid red;
    height: 40em;
    width: 50em;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    flex-direction: column;


}


.color-board {
    border: 0.3em solid rgb(147, 99, 28);
    height: 18em;
    width: 45em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../img/wood-texture-2.avif);
    border-radius: 56px 56px 56px 56px;
    position: static;



}

.title-color {
    height: 3em;
    width: 26em;
    border: 0.5em solid rgb(147, 99, 28);
    border-radius: 56px 56px 56px 56px;
    position: relative;
    top: 2.5em;
    background-color: rgb(251, 211, 151);
    display: flex;
    justify-content: center;
    align-items: center;

}

.title-color-text {
    font-size: 1.5em;
    font-family: 'Black Ops One', cursive;

}

.colors {
    height: 7em;
    width: 7em;
    border: 0.5em solid rgb(147, 99, 28);
    border-radius: 50%;
    background-color: white;
    cursor: pointer;



}

.box-next {
    height: 4em;
    width: 10em;
    border: 0.5em solid rgb(147, 99, 28);
    border-radius: 56px 56px 56px 56px;
    position: relative;
    top: -2.5em;
    background-color: rgb(251, 211, 151);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box-next:active {
    transform: translate(4px, 4px);
    box-shadow: none;
}

#collapseBox {
    display: flex;
    height: 0;
    width: 30em;
    background-color: rgb(181, 174, 164);

    border-radius: 56px;
    position: absolute;
    top: 27em;
    z-index: 100;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    padding-left: 2em;

    overflow: hidden;
    transition-property: height, width;
    transition-duration: 0.5s;
    justify-content: space-evenly;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

#collapseBox.expanded {
    height: 10em;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 0.5em solid rgb(147, 99, 28);
    justify-content: space-evenly;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: -1em;

}


.choice-color {
    height: 3em;
    width: 3em;
    border: 0.2em solid rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;

}

#c1 {
    background-color: rgb(255, 0, 0);
}

#c2 {
    background-color: rgb(0, 0, 255);
}

#c3 {
    background-color: rgb(0, 255, 55);
}

#c4 {
    background-color: rgb(212, 0, 255);
}

#c5 {
    background-color: rgb(0, 247, 255);
}

#c6 {
    background-color: rgb(255, 255, 0);
}

#c7 {
    background-color: rgb(0, 0, 0);
}

#c8 {
    background-color: rgb(102, 0, 255);
}

#c9 {
    background-color: rgb(94, 94, 94);
}

#c10 {
    background-color: rgb(248, 117, 221);
}